* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(
        to bottom,
        #2f3640,
        #f5f6fa
    );
    color: #2d3436;
    min-height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

